# Data Wrangling

Jenna Jordan

14 August 2021

### About

This notebook contains the code for wrangling the data in `Data/gapminder_all.csv` from a "wide" shape to a "long" shape. The resulting dataset contains the same information, but is in a tidy format, and will be saved as `Data/gapminder_tidy.csv`.

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("Data/gapminder_all.csv")
df

,continent,country,gdpPercap_1952,gdpPercap_1957,gdpPercap_1962,gdpPercap_1967,gdpPercap_1972,gdpPercap_1977,gdpPercap_1982,gdpPercap_1987,...,pop_1962,pop_1967,pop_1972,pop_1977,pop_1982,pop_1987,pop_1992,pop_1997,pop_2002,pop_2007
0,Africa,Algeria,2449.008185,3013.976023,2550.816880,3246.991771,4182.663766,4910.416756,5745.160213,5681.358539,...,11000948.0,12760499.0,14760787.0,17152804.0,20033753.0,23254956.0,26298373.0,29072015.0,31287142,33333216
1,Africa,Angola,3520.610273,3827.940465,4269.276742,5522.776375,5473.288005,3008.647355,2756.953672,2430.208311,...,4826015.0,5247469.0,5894858.0,6162675.0,7016384.0,7874230.0,8735988.0,9875024.0,10866106,12420476
2,Africa,Benin,1062.752200,959.601080,949.499064,1035.831411,1085.796879,1029.161251,1277.897616,1225.856010,...,2151895.0,2427334.0,2761407.0,3168267.0,3641603.0,4243788.0,4981671.0,6066080.0,7026113,8078314
3,Africa,Botswana,851.241141,918.232535,983.653976,1214.709294,2263.611114,3214.857818,4551.142150,6205.883850,...,512764.0,553541.0,619351.0,781472.0,970347.0,1151184.0,1342614.0,1536536.0,1630347,1639131
4,Africa,Burkina Faso,543.255241,617.183465,722.512021,794.826560,854.735976,743.387037,807.198586,912.063142,...,4919632.0,5127935.0,5433886.0,5889574.0,6634596.0,7586551.0,8878303.0,10352843.0,12251209,14326203
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
137,Europe,Switzerland,14734.232750,17909.489730,20431.092700,22966.144320,27195.113040,26982.290520,28397.715120,30281.704590,...,5666000.0,6063000.0,6401400.0,6316424.0,6468126.0,6649942.0,6995447.0,7193761.0,7361757,7554661
138,Europe,Turkey,1969.100980,2218.754257,2322.869908,2826.356387,3450.696380,4269.122326,4241.356344,5089.043686,...,29788695.0,33411317.0,37492953.0,42404033.0,47328791.0,52881328.0,58179144.0,63047647.0,67308928,71158647
139,Europe,United Kingdom,9979.508487,11283.177950,12477.177070,14142.850890,15895.116410,17428.748460,18232.424520,21664.787670,...,53292000.0,54959000.0,56079000.0,56179000.0,56339704.0,56981620.0,57866349.0,58808266.0,59912431,60776238
140,Oceania,Australia,10039.595640,10949.649590,12217.226860,14526.124650,16788.629480,18334.197510,19477.009280,21888.889030,...,10794968.0,11872264.0,13177000.0,14074100.0,15184200.0,16257249.0,17481977.0,18565243.0,19546792,20434176
141,Oceania,New Zealand,10556.575660,12247.395320,13175.678000,14463.918930,16046.037280,16233.717700,17632.410400,19007.191290,...,2488550.0,2728150.0,2929100.0,3164900.0,3210650.0,3317166.0,3437674.0,3676187.0,3908037,4115771

In [3]:
df.columns

Index(['continent', 'country', 'gdpPercap_1952', 'gdpPercap_1957',
       'gdpPercap_1962', 'gdpPercap_1967', 'gdpPercap_1972', 'gdpPercap_1977',
       'gdpPercap_1982', 'gdpPercap_1987', 'gdpPercap_1992', 'gdpPercap_1997',
       'gdpPercap_2002', 'gdpPercap_2007', 'lifeExp_1952', 'lifeExp_1957',
       'lifeExp_1962', 'lifeExp_1967', 'lifeExp_1972', 'lifeExp_1977',
       'lifeExp_1982', 'lifeExp_1987', 'lifeExp_1992', 'lifeExp_1997',
       'lifeExp_2002', 'lifeExp_2007', 'pop_1952', 'pop_1957', 'pop_1962',
       'pop_1967', 'pop_1972', 'pop_1977', 'pop_1982', 'pop_1987', 'pop_1992',
       'pop_1997', 'pop_2002', 'pop_2007'],
      dtype='object')

In [4]:
cols = list(df.columns)
cols.remove('continent')
cols.remove('country')
cols

['gdpPercap_1952',
 'gdpPercap_1957',
 'gdpPercap_1962',
 'gdpPercap_1967',
 'gdpPercap_1972',
 'gdpPercap_1977',
 'gdpPercap_1982',
 'gdpPercap_1987',
 'gdpPercap_1992',
 'gdpPercap_1997',
 'gdpPercap_2002',
 'gdpPercap_2007',
 'lifeExp_1952',
 'lifeExp_1957',
 'lifeExp_1962',
 'lifeExp_1967',
 'lifeExp_1972',
 'lifeExp_1977',
 'lifeExp_1982',
 'lifeExp_1987',
 'lifeExp_1992',
 'lifeExp_1997',
 'lifeExp_2002',
 'lifeExp_2007',
 'pop_1952',
 'pop_1957',
 'pop_1962',
 'pop_1967',
 'pop_1972',
 'pop_1977',
 'pop_1982',
 'pop_1987',
 'pop_1992',
 'pop_1997',
 'pop_2002',
 'pop_2007']

In [5]:
df_melted = pd.melt(df, id_vars=['country', 'continent'], value_vars = cols)
df_melted

             country continent        variable         value
0            Algeria    Africa  gdpPercap_1952  2.449008e+03
1             Angola    Africa  gdpPercap_1952  3.520610e+03
2              Benin    Africa  gdpPercap_1952  1.062752e+03
3           Botswana    Africa  gdpPercap_1952  8.512411e+02
4       Burkina Faso    Africa  gdpPercap_1952  5.432552e+02
...              ...       ...             ...           ...
5107     Switzerland    Europe        pop_2007  7.554661e+06
5108          Turkey    Europe        pop_2007  7.115865e+07
5109  United Kingdom    Europe        pop_2007  6.077624e+07
5110       Australia   Oceania        pop_2007  2.043418e+07
5111     New Zealand   Oceania        pop_2007  4.115771e+06

[5112 rows x 4 columns]

In [6]:
df_melted[['metric', 'year']] = df_melted['variable'].str.split("_", expand=True)
df_melted

             country continent        variable         value     metric  year
0            Algeria    Africa  gdpPercap_1952  2.449008e+03  gdpPercap  1952
1             Angola    Africa  gdpPercap_1952  3.520610e+03  gdpPercap  1952
2              Benin    Africa  gdpPercap_1952  1.062752e+03  gdpPercap  1952
3           Botswana    Africa  gdpPercap_1952  8.512411e+02  gdpPercap  1952
4       Burkina Faso    Africa  gdpPercap_1952  5.432552e+02  gdpPercap  1952
...              ...       ...             ...           ...        ...   ...
5107     Switzerland    Europe        pop_2007  7.554661e+06        pop  2007
5108          Turkey    Europe        pop_2007  7.115865e+07        pop  2007
5109  United Kingdom    Europe        pop_2007  6.077624e+07        pop  2007
5110       Australia   Oceania        pop_2007  2.043418e+07        pop  2007
5111     New Zealand   Oceania        pop_2007  4.115771e+06        pop  2007

[5112 rows x 6 columns]

In [7]:
df_final = df_melted[['country', 'continent', 'year', 'metric', 'value']]
df_final = df_final.sort_values(by=["continent", "country", "year", "metric"])
df_final

          country continent  year     metric         value
0         Algeria    Africa  1952  gdpPercap  2.449008e+03
1704      Algeria    Africa  1952    lifeExp  4.307700e+01
3408      Algeria    Africa  1952        pop  9.279525e+06
142       Algeria    Africa  1957  gdpPercap  3.013976e+03
1846      Algeria    Africa  1957    lifeExp  4.568500e+01
...           ...       ...   ...        ...           ...
3265  New Zealand   Oceania  2002    lifeExp  7.911000e+01
4969  New Zealand   Oceania  2002        pop  3.908037e+06
1703  New Zealand   Oceania  2007  gdpPercap  2.518501e+04
3407  New Zealand   Oceania  2007    lifeExp  8.020400e+01
5111  New Zealand   Oceania  2007        pop  4.115771e+06

[5112 rows x 5 columns]

In [8]:
df_final.to_csv("Data/gapminder_tidy.csv", index=False)